{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - Backoffice{% endblock %}

{% block body %}

<h1 class="text-center mt-5">Gestion du contenu</h1>

<div class="container d-flex justify-content-evenly mt-5">
<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <a href="{{ url('backoffice_artwork_browse') }}"><img src="{{ asset("img/oeuvre.jpg") }}" class="card-img-top main-img" alt="..."></a>
        <div class="card-body text-center">
            <p class="card-text">Oeuvres</p>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <a href="{{ url('backoffice_artist_browse') }}"><img src="{{ asset("img/artiste.jpg") }}" class="card-img-top main-img" alt="..."></a>
        <div class="card-body text-center">
            <p class="card-text">Artistes</p>
        </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <a href=""><img src="{{ asset("img/categorie.jpg") }}" class="card-img-top main-img" alt="..."></a>
        <div class="card-body text-center">
            <p class="card-text">Catégories d'oeuvres</p>
        </div>
    </div>
  </div>  
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <a href="{{ url('backoffice_event_browse') }}"><img src="{{ asset("img/event.jpg") }}" class="card-img-top main-img" alt="..."></a>
        <div class="card-body text-center">
            <p class="card-text">Evénements</p>
        </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
