{% extends 'base.html.twig' %}

{% block title %}
    {% if 'backoffice_artwork_edit' == app.request.get('_route') %}
    Mettre à jour
    {% else %}
    Ajouter
    {% endif %}
{% endblock title %}

{% block body %}

{{ form_start(artwork_form) }}

<div class="d-flex p-2 d-flex justify-content-center mt-5">

    <div class="mx-5">

        {{ form_row(artwork_form.title) }}
        {{ form_row(artwork_form.picture) }}
        {{ form_row(artwork_form.description) }}
        {{ form_row(artwork_form.height) }}
        {{ form_row(artwork_form.width) }}
        {{ form_row(artwork_form.depth) }}

    </div>

    <div class="mx-5">

        {{ form_row(artwork_form.artists) }}
        {{ form_row(artwork_form.categories) }}

    </div>
        
</div>

<div class="text-center">
                <p>* Champs obligatoire</p>
        <button type="submit" class="btn btn-primary mt-4">
        {% if 'backoffice_artwork_edit' == app.request.get('_route') %}
        Mettre à jour
        {% else %}
        Ajouter
        {% endif %}
        </button>
</div>

    {{ form_end(artwork_form) }} 
    


{% endblock %}
