{% extends 'base.html.twig' %}

{% block title %}{{current_artwork.title}}{% endblock %}

{% block body %}

<h1 class="text-center mt-5">{{current_artwork.title}}</h1>

	<div class="container">

        <div class="d-flex justify-content-center mt-5">
            <div class="card card-1" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(current_artwork, current_artwork.picture) }}" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p class="card-text">{{current_artwork.description}}</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Artiste : {{current_artwork.artists}}</li>
                </ul>
                <div class="card-body text-center">
                    <a href="{{ url('backoffice_artwork_edit', {"id": current_artwork.id}) }}" type="button" class="btn btn-primary">Modifier</a>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Supprimer</button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li><a class="dropdown-item" href="{{ url('backoffice_artwork_delete', {"id": current_artwork.id}) }}">Confimer la suppression</a></li>
                            <li><a class="dropdown-item" href="backoffice_artwork_browse">Annuler</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

		<div class="card mb-3 card-1 mt-5 mx-auto" style="max-width: 576px;">
			<div class="d-flex">
				<div class="col-md-4 col-sm-1">
					<a href="{{ url('backoffice_artist_read', {"id": current_artwork.artists.id}) }}"><img src="{{ current_artwork.artists.photo }}" class="img-fluid rounded-start" alt="..."></a>
				</div>
				<div class="col-md-8">
					<div class="card-body" style="height: 17em; overflow: hidden; overflow-y: scroll;">
						<h5 class="card-title">A propos de l'artiste</h5>
						<p class="card-text readMore">Originaire de
							{{ current_artwork.artists.country}},
							{{ current_artwork.artists.name }}
							{{ current_artwork.artists.biography }}</p>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
