{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}

	<div class="row mt-5 justify-content-center">
					<div class="card card-1" style="width: 18rem;">
						<a href="{{ url('backoffice_category_read', {"id": category.id}) }}"><img src="{{ vich_uploader_asset(category, category.picture) }}" class="card-img-top" alt="..."></a>
						<div class="card-body">
							<h5 class="card-title text-center">{{category.name}}</h5>
						</div>
						<div class="card-body text-center">
							<a href="{{ url('backoffice_category_edit', {"id": category.id}) }}" type="button" class="btn btn-primary">Modifier</a>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Supprimer</button>
								<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<li>
										<a class="dropdown-item" href="{{ url('backoffice_category_delete', {"id": category.id}) }}">Confimer la suppression</a>
									</li>
									<li>
										<a class="dropdown-item" href="backoffice_artwork_browse">Annuler</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

	<div class="container">

		{{ include('_partials/_flash_messages.html.twig') }}

		<h2 class="text-center mt-5">Liste des oeuvres de cette catégorie</h2>

		<div class="row">

			{% for artwork in category.artworks %}
				<div class="col-xl-4 col-lg-4 col-xxl-3 col-md-6 mt-5">
					<div class="card card-1" style="width: 18rem;">
						<a href="{{ url('backoffice_artwork_read', {"id": artwork.id}) }}"><img src="{{artwork.picture}}" class="card-img-top" alt="..."></a>
						<div class="card-body">
							<h5 class="card-title text-center">{{artwork.title}}</h5>
							<p class="card-text">{{artwork.description}}</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Artiste :
								{{artwork.artists}}</li>
						</ul>
						<div class="card-body text-center">
							<a href="{{ url('backoffice_artwork_edit', {"id": artwork.id}) }}" type="button" class="btn btn-primary">Modifier</a>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Supprimer</button>
								<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<li>
										<a class="dropdown-item" href="{{ url('backoffice_artwork_delete', {"id": artwork.id}) }}">Confimer la suppression</a>
									</li>
									<li>
										<a class="dropdown-item" href="backoffice_artwork_browse">Annuler</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>

	</div>

{% endblock %}
