{% extends 'base.html.twig' %}

{% block title %}Artistes
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">Liste des artistes</h1>

	<div class="container" style="max-width: 90%;">

		{{ include('_partials/_flash_messages.html.twig') }}

		<div class="d-flex justify-content-center mt-4">
			<a href="{{ url('backoffice_artist_add') }}" type="button" class="btn btn-lg btn-dark text-warning">Ajouter un artiste</a>
		</div>

		<div class="row justify-content-center">

			{% for currentArtist in artist_list %}
				<div class="col-xl-6 col-lg-6 col-xxl-3 col-md-12 mt-5 d-flex align-items-stretch">
					<div class="card card-1" style="width: 100%;">
						<a href="{{ url('backoffice_artist_read', {"slug": currentArtist.slug}) }}"><img src="{{ asset('img/uploads/artists/') ~ currentArtist.photoName }}" class="card-img-top" alt="..."></a>
						<div class="card-body" style="overflow: hidden; overflow-y: scroll;">
							<h5 class="card-title text-center">{{currentArtist.name}}</h5>
							<p class="card-text">{{currentArtist.biography}}</p>
						</div>
						<div class="card-body d-flex align-items-end justify-content-between" style="padding: inherit; margin-top: 1em;">
							<a href="{{ url('backoffice_artist_edit', {"id": currentArtist.id}) }}" type="button" class="btn btn-primary" style="color: #ffc107; background-color: #212529; border-color: #212529; height: 3em; width: 8em; display: flex; justify-content: center; align-items: center;">Modifier</a>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" style="color: #ffc107; background-color: #212529; border-color: #212529; height: 3em; width: 8em;" data-bs-toggle="dropdown">Supprimer</button>
								<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
									<li>
										<a class="dropdown-item" href="{{ url('backoffice_artist_delete', {"id": currentArtist.id}) }}">Confimer la suppression</a>
									</li>
									<li>
										<a class="dropdown-item" href="backoffice_artist_browse">Annuler</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>


{% endblock %}
