{% extends 'base.html.twig' %}

{% block title %}
	{{ current_artist.name }}
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">{{ current_artist.name }}</h1>

	<div class="card mb-3 card-1 mt-5 mx-auto d-bloc" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="{{ current_artist.photo }}" class="img-fluid rounded-start" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">A propos de l'artiste</h5>
					<p class="card-text readMore">{{ current_artist.biography }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body text-center">
		<a href="{{ url('backoffice_artwork_edit', {"id": current_artist.id}) }}" type="button" class="btn btn-primary">Modifier</a>
		<div class="btn-group" role="group">
			<button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown">Supprimer</button>
			<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<li>
					<a class="dropdown-item" href="{{ url('backoffice_artist_delete', {"id": current_artist.id}) }}">Confimer la suppression</a>
				</li>
				<li>
					<a class="dropdown-item" href="backoffice_artwork_browse">Annuler</a>
				</li>
			</ul>
		</div>
	</div>


{% endblock %}
